__pycache__
.atom/
.ipynb_checkpoints
data/downloaded/2018*
data/downloaded/2019*
data/original
data/processed
data/splitted
figs/transfered/binary
models/fine-tuned
models/transfered
notebooks/data_collecting.ipynb
presentation-2018-12-14/presentation-2018-12-14.gslides
refs
report
results/*
!results/demo.png
src/set_tpu.py
README_draft.md
